Source: libqtdbustest
Section: devel
Priority: optional
Maintainer: Ubuntu Developers <ubunu-devel.discuss@lists.ubuntu.com>
Build-Depends: cmake,
               cmake-extras (>= 0.10),
               debhelper (>= 9),
               gettext,
               google-mock (>= 1.6.0+svn437),
               pkg-config,
               qtbase5-dev,
               python3-dbusmock,
               dbus,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/libqtdbustest
# If you aren't a member of ~unity-team but need to upload packaging changes,
# just go ahead.  ~unity-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~unity-team/libqtdbustest/trunk

Package: libqtdbustest1
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: dbus,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Library for testing DBus interactions using Qt
 A simple library for testing Qt based DBus services and clients.
 .
 This package contains the shared libraries.

Package: libqtdbustest1-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libqtdbustest1 (= ${binary:Version}),
         ${misc:Depends},
Description: Library for testing DBus interactions using Qt
 A simple library for testing Qt based DBus services and clients.
 .
 This package contains files that are needed to build.

Package: qtdbustest-runner
Architecture: any
Depends: libqtdbustest1 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         gvfs-backends,
Description: Library for testing DBus interactions using Qt
 Simple executable for running a test script under a private
 DBus environment.
